		<div class="col-xs-6 text-center" class="task">
			  {{#each city}}
			  	{{#if this.city}}
			  		<input class="form-control" type="text" placeholder="{{this.id}} . {{this.city}}" readonly>
				{{/if}}
			  {{/each}}
		</div>