<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m12">
                <br>
                <div class="card white">
                    <div class="card-content  row center">
                        <span class="card-title">Results</span>
                        <ol class="results" id="resultList">
                            {{#each results}} 
                            {{results }} 
                            {{/each}}
                        </ol>
                    </div>
                    <div class="card-action">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<script id="results-template" type="text/handlebars-template">

</script>