

    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m6">
                    <br>
                    <div class="row center">
                        <div id="userLanding">
                            <div id="userInfo">USER INFO</div>
                            <h4>Welcome, {{name}}</h4>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6">
                    <br>
                    <div class="row center">
                        <div id="recentAct">
                            <div id="results">RESULTS</div>
                            <h4>Your results:</h4>
                            <p>{{results}}</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>